.target-toggler-open{
  z-index: 100;
  position: absolute;
  top: 20px;
  left: 20px;
}
.word-lib{
  width: 400px;
  border-left: white 1px solid;
  position: relative;
}
.target-toggler-close{
  z-index: 100;
  position: absolute;
  top: 20px;
  right: 20px;
}
.target-tab{
  position: relative;
}
.search {
  border: 2px solid white;
  outline: none;
  bottom: 20px;
}

.search:focus {
  border: 2px solid #0d6efd; 
}

.search::placeholder{
  color: antiquewhite;
}